// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// MOL: label-group
// ===============================================
@mixin mol-label-group($theme: null) {
  .mol-label-group,
  .cont-set-label {  // @deprecated - use .mol-label-group
    display: flex;
    gap: var(--mol-label-group-gap, 0.5rem);
    align-items: center;
    flex-wrap: wrap;
  }
}
