// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// atom: txt
// ===============================================
@mixin atom-txt($theme: null) {
  .syx-txt {
    // &--primary
    &--primary {
      @include margin(0 null var(--semantic-space-stack-sm) null);
    }
  }
}
